/* VARIABLES */
:root{
  /* ** Colors ** */
  /* Light Theme */
  --primary-color: #f5f5f5;
  --secondary-color: #363636;
  --accent-color: #000000;
  --text-color: var(--accent-color);
  --text-light: #666666;
  --secondary-text-color: var(--primary-color);
  --background-color: #ececec;
  --black-color-transparent: rgba(0, 0, 0, 0.44);
  --white-color-transparent: rgba(255, 255, 255, 042);
  --constant-back-color: #252525;
  --constant-text-color: #f5f5f5;
  --constant-accent-color: #000000;
  /* ** Fonts ** */
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Outfit', sans-serif;
  /* ** Sizes ** */
  --size-xx-small: 0.15rem;
  --size-x-small: 0.3rem;
  --size-small: 0.5rem;
  --size-medium: 0.8rem;
  --size-large: 1rem;
  --size-x-large: 1.2rem;
  --size-xx-large: 1.5rem;
  --font-weight-bold: 700;
  --font-weight-light: 400;
  --per-xx-small: 5%;
  --per-x-small: 20%;
  --per-small: 35%;
  --per-medium: 50%;
  --per-large: 65%;
  --per-x-large: 80%;
  --per-xx-large: 95%;
}
[data-theme="dark"]{
  /* Dark Theme */
  --primary-color: #363636;
  --secondary-color: #121212;
  --accent-color: #ffffff;
  --text-color: var(--accent-color);
  --text-light: #bdc3c7;
  --secondary-text-color: var(--secondary-color);
  --background-color: #252525;
}
@media (min-width: 640px) {
  :root{
    /* ** Sizes ** */
    --size-xx-small: 0.4rem;
    --size-x-small: 0.6rem;
    --size-small: 0.9rem;
    --size-medium: 1.1rem;
    --size-large: 1.3rem;
    --size-x-large: 1.6rem;
    --size-xx-large: 1.8rem;
  }
  @media (max-height: 660px) {
    :root{
      /* ** Sizes ** */
      --size-xx-small: 0.1rem;
      --size-x-small: 0.4rem;
      --size-small: 0.6rem;
      --size-medium: 0.9rem;
      --size-large: 1.1rem;
      --size-x-large: 1.3rem;
      --size-xx-large: 1.6rem;
    }
  }
}
@media (min-width: 1180px) {
  :root{
    /* ** Sizes ** */
    --size-xx-small: 0.6rem;
    --size-x-small: 0.9rem;
    --size-small: 1.1rem;
    --size-medium: 1.3rem;
    --size-large: 1.6rem;
    --size-x-large: 1.8rem;
    --size-xx-large: 2rem;
  }
}