/* DECORATIONS */
/* Focus */
[tabindex="0"]:focus{
  outline: 2px solid var(--accent-color-transparent);
  outline-offset: 1px;
  border-radius: 5px;
  box-shadow: 4px 4px solid var(--secondary-color);
}
/* Hovers */
.hamburger-list::after, .hamburger::after, .nav-item-hamburger::after, .biblio-container::after{
  content: "";
  width: 0;
  height: 1px;
  background: var(--constant-text-color);
  left: 0;
  transition: width 0.4s ease;
}
.hamburger-list:hover::after, .hamburger:hover::after, .nav-item-hamburger:hover::after, .biblio-container:hover::after{width: 100%;}
.icon:hover, .image-content:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.image-content:hover{transform: scale(1.03);}
.nav-item-desktop:hover{color: var(--hover-accent-color); transition: none;}
/* Rise Animations */
.mobile-hamburger-menu, .message, .autor, .section, .content-title, .image-container, .paragraph, .top-button-container{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.mobile-hamburger-menu.visible, .message.visible, .autor.visible, .section.visible, .content-title.visible, .image-container.visible, .paragraph.visible, .top-button-container.visible{
  opacity: 1;
  transform: translateY(0);
}