/* Content */
.higher-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100vh;
  z-index: 3;
}
.section{
  display: flex;
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  box-shadow: 4px 4px var(--secondary-color);
  margin: var(--size-medium) 0;
  width: 80%;
  max-width: 1400px;
  padding: 1em;
}
.content-container{
  color: var(--text-color);
  font-weight: var(--font-weight-light);
  margin: var(--size-medium);
  width: 100%;
}
.info-content-container-1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "Title-1"
  "Image-Paragraph-1";
}
.info-content-container-2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "Title-2"
  "Image-Paragraph-2";
}
.info-content-container-3-index{
  grid-template-columns: 1fr;
  grid-template-areas:
  "Paragraph-3";
}
.info-content-container-3{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "Title-3"
  "Image-Paragraph-3";
}
.content-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100% !important;
}
.title-1-item{grid-area: Title-1;}
.title-2-item{grid-area: Title-2;}
.title-3-item{grid-area: Title-3;}
.image-p{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.image-p-1-item{grid-area: Image-Paragraph-1;}
.image-p-2-item{grid-area: Image-Paragraph-2;}
.image-p-3-item{grid-area: Image-Paragraph-3;}
.paragraph {
  text-align: justify;
  justify-content: center;
  height: auto;
}
.image-container{
  display: flex;
  flex-direction: column;
  gap: 1;
  justify-content: center;
  align-items: center;
}
.image-content{
  width: 250px;
  box-shadow: 5px 5px var(--secondary-color);
}
@media (min-width: 640px) {
  .section{width: 90%;}
}
@media (min-width: 1024px){
  .section{width: 95%;}
  .image-p{display: inline;}
  .image{
    float: left;
    width: 25%;
    margin: 0 2em;
  }
  .image-right{
    float: right;
    width: 25%;
    margin: 0 2em;
  }
  .paragraph{
    display: inline;
    clear: both;
    width: 65%;
  }
}